@import url('https://fonts.googleapis.com/css2?family=Lora&family=Oswald:wght@300&family=Sofia+Sans:wght@300&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  word-break: break-all;
}

textarea {
  height: 70px;
}
.left textarea,input{
  width: 35%;
}
.container{
  width: 1700px;
  margin: 0 auto;
}
span {
  width: 25%;
}
h4{
  margin-bottom: 10px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin-top: 3px;
  height: 50px;
}
.main {
  display: flex;
}
.item {
  flex: 1;
  border: 1px solid black;
  padding: 10px;
}
.item > * {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.item > * div {
  display: flex;
}
.middle span{
  width: 170px;
}
.item.grow {
  display: flex;
  flex-grow: 2;
  width: 100%;
  height: 92vh;
  background-color: red;
}
.cv-left {
  display: flex;
  flex-basis: 250px;
  background-color: rgba(0,0,0,0.4);
  margin-left: 20px;
  padding: 7px;
}
.cv-left-fotograf,
.cv-left-iletisim,
.cv-left-egitim,
.cv-left-yetenekler {
  display: flex;
  justify-content: center;
  flex: 1;
}

.cv-left-fotograf {
  align-items: center;
}
.cv-left-fotograf p {
  display: flex;
  border: 2px solid black;
  border-radius: 50%;
  flex-basis: 100px;
  height: 100px;
  justify-content: center;
  align-items: center;
}
.cv-left-iletisim {
  display: flex;
  flex-direction: column;
}
.baslik {
  font-size: 17px;
  border-bottom: 3px solid rgba(0,0,0,.6);
}
.cv-left-iletisim-icerik {
  flex-grow: 3;
}

.cv-right {
  display: flex;
  flex-basis: 500px;
}
.cv-right-item{
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  padding: 7px;
}
.cv-right-baslik{
  background-color: #383838;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: white;
  letter-spacing: 2px;
  flex-grow: 1;
  margin-bottom: 30px;
}
#alt-cizgi{
  width: 60px;
  height: 2px;
  background-color: white;
  margin: 5px 0;
}

.cv-left-iletisim li{
  list-style-position:inside;
}

#isim-kutu-yazi-renk{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#okul,#yetenek{
  display: flex;
  flex-direction: column;
}

.select{
  margin: 10px 0;
}
.ic-ul{
  margin-left: 15px;
}
